/* Cell Toolbar menu to select the Notification mode */
.jp-notify-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jp-notify-menu .lm-Menu-itemIcon > svg {
  vertical-align: sub;
}
